<div class="header-content">
    <div class="header-content-left">
        <div class="header-content-navbar">
            <div class="icon-switch-app"></div>
            <div class="navbar-container">
                <div class="navbar-logo">
                    <div class="logo"></div>
                </div>
                <div class="navbar-bg"></div>
            </div>
            <div class="header-content-title"> Tuyển dụng </div>
        </div>
        <div class="header-content-search"></div>
    </div>
    <div class="header-content-right"></div>
</div>