.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    width: 100%;
}

.header-content-left {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header-content-navbar {
    height: 100%;
    width: 262px;
    background: url(https://amisplatform.misacdn.net/apps/recruit/navbar-bg-noel.ff04816e6511986f.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}


.navbar-bg {
    background-image: url(https://amisplatform.misacdn.net/apps/recruit/event-header.8a0adb3bd0c107ff.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 48px;
    width: 103px;
    position: absolute;
    bottom: 0px;
    z-index: 2;
    margin-left: -9px;
}
.navbar-logo{
    max-height: 52px;
    height: 52px;
    width: 40px;
    overflow: hidden;
    margin-left: 24px;
    margin-right: 10px;
}
.logo {
    background-image: url(https://amisplatform.misacdn.net/apps/recruit/logo-recruitment-new.d56a0096f9a2229b.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-top: 8px;
}

.icon-switch-app{
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image: url(https://amisplatform.misacdn.net/apps/recruit/icon-swich-app-white.248ca01677e3e31a.svg);
}

.header-content-title{
    font-size: 22px;
    color: #000000;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-weight: bold;
}
