<div class="header-content">
    <div class="header-content-left">
        <div class="header-content-navbar">
            <div class="icon-switch-app"></div>
            <div class="navbar-container">
                <div class="navbar-logo">
                    <div class="logo"></div>
                </div>
                <div class="navbar-bg"></div>
            </div>
            <div class="header-content-title"> Tuyển dụng </div>
        </div>
        <div class="header-content-search">
            <div class="search-bar">
                <div class="search-icon"></div>
                <input
                    type="text"
                    placeholder="Tìm kiếm tin tuyển dụng, ứng viên, nhân tài..."
                />
            </div>
        </div>
    </div>
    <div class="header-content-right">
        <div class="recruitment-page">
            <div class="recruitment-page-icon icon-header"></div>
            <div class="recruitment-page-title"> Website tuyển dụng </div>
        </div>
        <div class="icon-container">
            <div class="icon-notification-version"></div>
        </div>
        <div class="icon-container">
            <div class="icon-store"></div>
        </div>
        <div class="icon-user-controlpanel"></div>
        <div class="icon-messgae"></div>
        <div class="icon-noti"></div>
        <div class="icon-helpmenu"></div>
        <div class="icon-other"></div>
        <div class="icon-knowladge"></div>
        <div class="avatar-container">
            <img src="../../asset/avatar/Image.png" alt="avatar">
        </div>
    </div>
</div>