.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    width: 100%;
    background: #ffffff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.header-content-left {
    display: flex;
    align-items: center;
    height: 100%;
    gap:10px
}

.header-content-navbar {
    height: 100%;
    width: 262px;
    background: url(https://amisplatform.misacdn.net/apps/recruit/navbar-bg-noel.ff04816e6511986f.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding-left: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}


.navbar-bg {
    background-image: url(https://amisplatform.misacdn.net/apps/recruit/event-header.8a0adb3bd0c107ff.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 48px;
    width: 103px;
    position: absolute;
    bottom: 0px;
    z-index: 2;
    margin-left: -9px;
}
.navbar-logo{
    max-height: 52px;
    height: 52px;
    width: 40px;
    overflow: hidden;
    margin-left: 24px;
    margin-right: 10px;
}
.logo {
    background-image: url(https://amisplatform.misacdn.net/apps/recruit/logo-recruitment-new.d56a0096f9a2229b.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-top: 8px;
}

.icon-switch-app{
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image: url(https://amisplatform.misacdn.net/apps/recruit/icon-swich-app-white.248ca01677e3e31a.svg);
}

.header-content-title{
    font-size: 18px;
    color: #000000;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.header-content-right{
    height: 100%;
    display: flex;
    gap: 14px;
    align-items: center;
}

.recruitment-page{
    display: flex;
    gap: 3px;
    align-items: center;
    cursor: pointer;
}

.recruitment-page-icon{
    mask-position: 0px -608px;
    background-color: rgba(128, 128, 128, 0.497);
    margin-top: 4px;
}

.icon-header {
    width: 24px;
    height: 24px;
    min-width: 24px;
    mask-image: url("../../asset/icons/ICON.svg");
    mask-repeat: no-repeat;
}

.recruitment-page-title{
    font-size: 14px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    color: #1e2633;
    padding: 4px 0;
}

.recruitment-page:hover .recruitment-page-icon{
    background-color: #2680eb;
}
.recruitment-page:hover .recruitment-page-title{
    color: #2680eb;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    background: transparent;
}

.icon-notification-version{
    background: url(https://amisplatform.misacdn.net/apps/recruit/icon-notification-version.d5e3dc604036ed5b.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.icon-container:hover{
    background-color: #1e26331d;
}


.icon-store {
    height: 20px;
    aspect-ratio: 1 / 1;
    background: url(https://cdnstore.misacdn.net/lib/static/cs-icon-store.svg) no-repeat center;
    background-size: 20px 20px;
    cursor: pointer;
}

.icon-user-controlpanel{
    position: relative;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTEuNSIgY3k9IjUuNSIgcj0iMy41IiBzdHJva2U9IiM3NTc1NzUiIHN0cm9rZS13aWR0aD0iMiIvPgo8cGF0aCBkPSJNMy41MDYyOSAxNS43NDEzTDMuMTA2NTIgMTYuMjk2NUMxLjM5MTk2IDE4LjY3NzggMy4wOTM2OCAyMiA2LjAyODA0IDIySDE1Ljk3MkMxOC45MDYzIDIyIDIwLjYwOCAxOC42Nzc4IDE4Ljg5MzUgMTYuMjk2NUwxOC40OTM3IDE1Ljc0MTNDMTYuODAyNCAxMy4zOTIyIDE0LjA4NDUgMTIgMTEuMTg5OSAxMkgxMC44MTAxQzcuOTE1NTMgMTIgNS4xOTc2MSAxMy4zOTIyIDMuNTA2MjkgMTUuNzQxM1oiIHN0cm9rZT0iIzc1NzU3NSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPHBhdGggZD0iTTIxIDVWN1Y5IiBzdHJva2U9IiMyQ0EwMUMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CjxwYXRoIGQ9Ik0xOSA3SDIxSDIzIiBzdHJva2U9IiMyQ0EwMUMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=);
    width: 32px;
    height: 32px;
    margin-top: 0;
    border-radius: 16px;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    overflow: unset;
    cursor: pointer;
}

.icon-user-controlpanel:hover, .icon-messgae:hover, .icon-noti:hover, .icon-helpmenu:hover, .icon-other:hover, .icon-knowladge:hover{
    background-color: #1e26331d;
}

.icon-messgae{
    background-image: url(../../asset/icons/message.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    position: relative;
    cursor: pointer;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icon-noti {
    border-radius: 50%;
    cursor: pointer;
    width: 32px;
    height: 32px;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../asset/icons/noti.svg)
}

.icon-helpmenu{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    overflow: unset;
    cursor: pointer;
    background-image: url(../../asset/icons/help_menu.svg)
}

.icon-other{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    overflow: unset;
    cursor: pointer;
    background-image: url(../../asset/icons/other.svg)
}

.avatar-container {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 24px;
}

.avatar-container img {
    max-height: 32px;
    max-width: 32px;
    vertical-align: middle;
    border-style: none;
    cursor: pointer;
}

.header-content-search{
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 365px;
    height: 32px;
    background-color: #f2f2f2;
    border: none;
    padding: 1px 32px 1px 12px;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-icon {
    mask-image: url(../../asset/icons/ICON.svg);
    mask-repeat: no-repeat;
    mask-position: -283px -945px;
    background-color: rgba(128, 128, 128, 0.832);
    width: 18px;
    height: 18px;
    margin-top: 4px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    color: #1e2633;
}

.search-bar input::placeholder {
    color: #9aa1a9;
}
