<div class="sidebar-content">
  <div class="sidebar-content-list">
    <div class="sidebar-content-list-item">
      <div class="icon icon-sb-recruiment"></div>
      <div class="label">Tin tuyển dụng</div>
    </div>

    <div class="sidebar-content-list-item active">
      <div class="icon icon-sb-candidate-active"></div>
      <div class="label">Ứng viên</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon icon-sb-calendar"></i></div>
      <div class="label">Lịch</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon icon-sb-talent-pools"></div>
      <div class="label">Kho tiềm năng</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon icon-sb-recruitment-campaign-active"></div>
      <div class="label">Chiến dịch tuyển dụng</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon icon-sb-task"></div>
      <div class="label">Công việc</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon icon-email-ai-marketing"></div>
      <div class="label">aiMarketing</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon icon-chat-box"></div>
      <div class="label">Trao đổi với ứng viên</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon icon-sb-report"></div>
      <div class="label">Báo cáo</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon icon-sb-setting"></div>
      <div class="label">Thiết lập</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon-knowladge"></div>
      <div class="label">Kiến thức hữu ích</div>
    </div>
  </div>

  <div class="sidebar-btn">
    <div class="collapse-btn">
      <div class="icon icon-left">  </div> 
      <div class="label">Thu gọn</div>
    </div>
  </div>
  
</div>
