<div class="sidebar-content">
  <div class="sidebar-content-list">
    <div class="sidebar-content-list-item">
      <div class="icon"></div>
      <div class="label">Tin tuyển dụng</div>
    </div>

    <div class="sidebar-content-list-item active">
      <div class="icon">X</div>
      <div class="label">Ứng viên</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon"></i></div>
      <div class="label">Lịch</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon">X</div>
      <div class="label">Kho tiềm năng</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon">X</div>
      <div class="label">Chiến dịch tuyển dụng</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon"></div>
      <div class="label">Công việc</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon"></div>
      <div class="label">aiMarketing</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon">X</div>
      <div class="label">Trao đổi với ứng viên</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon"></div>
      <div class="label">Báo cáo</div>
    </div>


    <div class="sidebar-content-list-item">
      <div class="icon"></div>
      <div class="label">Thiết lập</div>
    </div>

    <div class="sidebar-content-list-item">
      <div class="icon"></div>
      <div class="label">Khác</div>
    </div>
  </div>

  <div class="sidebar-btn">
    <div class="collapse-btn">
      <div class="icon"> X </div> 
      <div class="label">Thu gọn</div>
    </div>
  </div>
  
</div>
