.sidebar-content{
    width: 100%;
    height: 100%;
    padding: 32px 0px 16px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
}


.sidebar-content-list{
    display: flex;
    flex-direction: column;
}

.sidebar-content-list-item {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;
    margin: 12px;
    margin-top: unset; 
    border-radius: 4px;
    gap:12px
}


.sidebar-content-list-item:hover{
    background-color: rgba(255, 255, 255, 0.1);
}


.label {
    font-size: 16px;
    color: #C5CCD5;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
}


.icon {
    width: 24px; 
    height: 24px;
    display: flex;
    align-items: center;
    color: #C5CCD5;
}


.sidebar-content-list-item.active {
    background-color: #2680eb; 
}
.sidebar-content-list-item.active .label , .sidebar-content-list-item.active .icon {
    font-weight: 500;
    color: #ffffff; 
}
.sidebar-btn{
    padding: 0 12px;
}
.collapse-btn {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border: 1px solid #ffffff;
    cursor: pointer;
    border-radius: 4px;
}

.collapse-btn .label, .collapse-btn .icon {
    color: #ffffff;
}

.collapse-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
