<div class="body-title">
    <div class="body-title-left">Ứng viên</div>
    <div class="body-title-right">
        <div class="body-title-btn">
            <div class="btn-icon-add"></div>
            <span>Thêm ứng viên</span>
        </div>
        <div class="more-option">
            <div class="btn-icon-down"></div>
        </div>
    </div>
</div>

<div class="body-table">
    <div class="toolbar">
        <div class="search-box">
            <div class="search-icon-table"></div>
            <input type="text" placeholder="Tìm kiếm nhanh trong danh sách" />
        </div>
        <div class="toolbar-right">
            <button class="icon-btn" >
                <div class="icon-filter"></div>
            </button>
            <button class="icon-btn">
                <div class="icon-export-history"></div>
            </button>
            <button class="icon-btn">
                <div class="icon-interactive-history"></div>
            </button>
            <button class="icon-btn">
                <div class="icon-setting-columns"></div>
            </button>
        </div>
    </div>
    <div class="table-wrapper">
        <table class="candidate-table">
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>Họ và tên</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Chiến dịch tuyển dụng</th>
                    <th>Trạng thái</th> 
                    <th>Tin tuyển dụng</th>
                    <th>Vòng tuyển dụng</th>
                    <th>Đánh giá</th>
                    <th>Ngày ứng tuyển</th>
                    <th>Nguồn ứng viên</th>
                    <th>Trình độ</th>
                    <th>Nơi làm việc gần đây</th>
                    <th>Khu vực</th>
                    <th>Ngày sinh</th>
                    <th>Địa chỉ</th>
                    <th>Giới tính</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Dữ liệu ứng viên sẽ được chèn vào đây bởi JavaScript -->
            </tbody>
        </table>
    </div>
    <div class="table-footer">
        <div class="footer-left">Tổng: <strong></strong> bản ghi</div>
        <div class="footer-right">
            <div class="page-size">
                <span>Số bản ghi/trang</span>
                <div class="page-size-select">
                    <div>25</div>
                    <div class="icon-dropdown"></div>
                </div>
            </div>
            <div class="pagination">
                <span></span>
                <div class="pagination-icon">
                    <div class="icon-prev"></div>
                    <div class="icon-next"></div>
                </div>
            </div>
        </div>
    </div>
</div>